/* Général */
.link {
  /*color: white;*/
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
  color: white;
}

.nav-bar-menu {
  display: flex;
  justify-content: space-around;
}

/* AffecterCritere */
.aff-cri-span-expand {
  margin: 1rem;
}

.aff-cri-button-header {
  display: flex;
  justify-content: space-around;
}
